<%= link_to('Back to collection', books_path, :class => 'back-link') %>

<div class="books new">
    <h2>Create Book</h2>

    <%= form_for(@book) do |f| %>
        <table summary="Book form fields">
          <tr>
            <th>Name</th>
            <td><%= f.text_field(:name) %></td>
          </tr>
          <tr>
            <th>Author</th>
            <td><%= f.text_field(:author) %></td>
          </tr>
          <tr>
            <th>Published Date</th>
            <td><%= f.date_field(:published_date) %></td>
          </tr>
          <tr>
            <th>Price($)</th>
            <td><%= f.number_field(:price) %></td>
          </tr>
        </table>

        <div class="form-buttons">
            <%= f.submit("Confirm Create Book") %>
        </div>
    <% end %>
<div>
