<%= link_to('Back to collection', books_path, class: 'back-link') %>

<div class="books show">
<h2>Selected Book</h2>

<div class="actions">
    <%= link_to("Edit", edit_book_path(@book)) %>
    <%= link_to("Delete", delete_book_path(@book)) %>
</div>

<table summary="book detailed view">
    <tr>
      <th>Book</th>
      <td><%= @book.name %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <th>Published Date</th>
      <td><%= @book.published_date %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @book.price %></td>
    </tr>
   </table>
</div>
